@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body{
    font-family: 'Noto Sans JP', sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}
h3{
    border-bottom: solid 3px purple;
    border-left: solid 10px purple;
    margin-top: 50px;
}
ul li{
    margin-top: 10px;
}
footer{
    margin-top: 100px;
    border-top: solid 1px #3f402d;
    padding-bottom: 3px;
    background-color: #3f402d;
}
footer p{
    color: white;
    text-align: center;
}
